
.profile{
    border: #FFA914 5px solid;
    padding: 20px;
    margin: 0px;
    background-color: white;
    height: 98vh;
    background-color: #E8E8E8;
    height: 210vh;
    
    h1{
        margin: 0px;
    }
    
}
.p-lk{
    text-decoration: underline;
}
.fe{
    color: rgb(0, 102, 255);
}
